Source: tensorflow-for-lima
Section: devel
Priority: optional
Maintainer: LIMA Publisher <lima.publisher@tuta.io>
Build-Depends: cmake, git, build-essential, pkg-config, automake, python
Homepage: https://github.com/aymara

Package: libtensorflow-for-lima-generic
Architecture: any-amd64
Section: devel
Priority: optional
Depends:
Provides: libtensorflow-for-lima
Conflicts: libtensorflow-for-lima-avx
Description: TensorFlow package required for LIMA NLP toolkit to work. Compiled with -march=x86-64

Package: libtensorflow-for-lima-avx
Architecture: any-amd64
Section: devel
Priority: optional
Depends: 
Provides: libtensorflow-for-lima
Conflicts: libtensorflow-for-lima-generic
Description: TensorFlow package required for LIMA NLP toolkit to work. Compiled with -march=sandybridge

Package: libtensorflow-for-lima-dev
Architecture: any-amd64
Section: devel
Priority: optional
Depends: libtensorflow-for-lima
Description: TensorFlow package required for LIMA NLP toolkit to be compiled.

